<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>  </title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

</head>
<body>
    <section id="header"> 
        <div class="logo">
            <img src="img/MONA.png"  alt="Logo" srcset=""onclick="window.location.href = '/dashboard';">
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="klik" href="/produk">Products</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </div>
    </section >

       
            

        </section>
        <section id="product">
            <div class="segment">
                <br>
                <br>
                <br>
                <h7>All Product</h7>
                <p></p>
            </div>
            
            <div class="pro-container">
                <div class="pro" onclick="window.location.href = '/payment';">
                    <img src="img/1.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Skull Friendly T-Shirt</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                        </div>
                        <br>
                        <h4>$45</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/2.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Color Everyday</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                        </div>
                        <br>
                        <h4>$99</h4>
                    </div>
                </div>
                <div class="pro" onclick="window.location.href = '/payment';">
                    <img src="img/3.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Sun Myday</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                        </div>
                        <br>
                        <h4>$19</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/4.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Mark Your Pool</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <br>
                        <h4>$25</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/5.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Youth Supra</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <br>
                        <h4>$20</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/6.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>YellowThing</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <br>
                        <h4>$12</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/7.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Mona Suatos</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <br>
                        <h4>$16</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="img/8.jpg"  alt="">
                    <div class="des">
                        <span>Unisex</span>
                        <h5>Skate Soul</h5>
                        <div class="star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <br>
                        <h4>$45</h4>
                    </div>
                </div>
            </div>
            
        </section>
</body>
</html>